<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
						http://www.springframework.org/schema/osgi
                        http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<context:annotation-config />
	<context:component-scan base-package="nivance.jpa.mysql" />

	<osgi:service id="mysqlDomainDataService" ref="mysqlDataService"
		interface="nivance.impl.service.MysqlDomainDataService">
		<osgi:service-properties>
			<entry key="key" value="mysql" />
		</osgi:service-properties>
	</osgi:service>

	<bean id="staticDaos" class="org.springframework.beans.factory.config.MapFactoryBean">
		<property name="sourceMap">
			<map merge="true" key-type="java.lang.String"
				value-type="nivance.jpa.mysql.jpa.iface.StaticTableDaoSupport">
				<entry key="adminoperator" value-ref="adminOperatorDao" />
			</map>
		</property>
	</bean>
	
	<bean id="dynamicDaos" class="org.springframework.beans.factory.config.MapFactoryBean">
		<property name="sourceMap">
			<map merge="true" key-type="java.lang.String"
				value-type="nivance.jpa.mysql.jpa.iface.DynamicTableDaoSupport">
				<entry key="awardduplicate" value-ref="awardDuplicateDao" />
				<entry key="awardunique" value-ref="awardUniqueDao" /> 
			</map>
		</property>
	</bean>

</beans>
